:root{
  --color_primary: whitesmoke;
}

body{
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  box-sizing: border-box;
  font-size: 16px;
  height: 100vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
header{
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
}
.categorias{
  display: flex;
  list-style: none;
  width: 900px;
  gap: 10%;
  padding: 0%;
  justify-content: space-evenly;
}
.categorias a{
  text-decoration: none;
  color: black;
}
header>img{
  width: 150px;
  height: 60px;
}
header>a{
  width:100px;
  display: flex;
  justify-content: center;
}
main{
  background-color:var(--color_primary)
}
.cesta{
  width: 30px;
}
.hero{
  display: flex;
  padding: 50px;
  gap: 30px;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  font-size: larger;
}
.hero button{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: medium ;
}
.comprar{
  background-color: black;
  color: white;
  border: 0;
}
.inspiracion{
  background-color: white;
  border: 0;
}
.comprar a{
  text-decoration: none;
  list-style: none;
  color: white;
}
.inspiracion a{
  text-decoration: none;
  list-style: none;
  color: black
}
.hero>img{
  width: 70%;
  padding: 0%;
}
.galeria{
  display: grid;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
  padding: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1 fr);
}
article{
  background-color:white;
  border-radius: 10px;
  text-align: center;
  padding: 5%;
  box-shadow: 0px 6px 23px -15px rgba(0,0,0,0.75);
  transition: transform 0.5s;
}
article img{
  width: 70%;
  border: 2px solid black;
  object-fit: contain;

}
article:hover{
  transform: scale(1.1);
}
article div{
  display: flex;
  justify-content: center;
  gap: 5px;
}
article button{
  background-color: white;
  color: black;
  border: none;
  font-size: medium;
}
div img{
  width: 20px;
  border: none;
  filter: grayscale(100%);
}
div img:hover{
  filter: grayscale(0%);
}
footer{
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}
.pay img{
  width:2%;
  padding: 2px;
}
footer ul{
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.pie a{
  text-decoration: none;
  color: grey;

}